.chart-container {
    width: 100%;
    height: 100%;
 
}

// .chart-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     /* Adjust the height as needed */
// }

ngx-graph {
   margin: 250px;
}


node.cluster rect {
    fill: #dde2e5;
    stroke: #88979e;
}

// .node circle {
//     fill: #0088aa;
// }
.delete-node-button {
    position: absolute;
    top: -10px;
    right: -10px;
}

.disabled-line {
    stroke: #ccc;
    /* Change the color to indicate the line is disabled */
    pointer-events: none;
    /* Prevent interactions with the line */
}

.node text {
    fill: #ffffff;
}

.add-child-node {
    cursor: pointer;
}

.add-child-node circle {
    fill: #00bb00;
}

.add-child-node text {
    fill: #ffffff;
}

.edge path.line {
    stroke: #888888;
}

.edge text.edge-label {
    font-size: 12px;
}

.center-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-tag{
    font-size: 15px;
    color: orange;
}

