

<div>
<div class="trigger-data" style="margin-bottom: 10px;">
    <h3 style="padding-left: 5px;">Add Path</h3>
    <mat-icon (click)="onCancel()" style="cursor: pointer;padding-top: 0px;padding-right: 5px;color: gray;">highlight_off</mat-icon>
</div>
<mat-divider style="padding-bottom: 10px;"></mat-divider>
    <button mat-button color="primary" style="width: 200px;" (click)="selectTrigger('Action')">
        <!-- <mat-icon style="padding-right: 10px;">bolt</mat-icon> -->
        Action</button><br>
    <button mat-button color="accent" style="width: 200px;" (click)="selectTrigger('Condition')">Condition</button><br>
    <button mat-button color="warn" style="width: 200px;" (click)="selectTrigger('Deley')">Deley</button>

</div>

